Merging 12 months of sales data into 1

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os

df1 = pd.read_csv('./Sales_Data/Sales_April_2019.csv')
df1.head()

In [9]:
files  = [file for file in os.listdir('./Sales_Data')]

allMonth = pd.DataFrame()

for file in files:
  # print(file)
  df = pd.read_csv('./Sales_Data/'+file)
  allMonth = pd.concat([allMonth,df])
  
allMonth.to_csv("./all/allData.csv",index=False)

In [40]:
allData = pd.read_csv('./all/allData.csv')
allData.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

Cleaning Data

What was the best month for sales and wat was the profit

In [ ]:
nanDf = allData[allData.isna().any(axis=1)]
nanDf.head()

In [57]:
allData = allData.dropna(how='all')

In [58]:
allData = allData[allData['Order Date'].str[0:2] != 'Or']
# Df.head()

In [ ]:
allData['Month'] = allData['Order Date'].str[0:2]
allData['Month'] = allData['Month'].astype('int32')
allData.head()
# allData.head()

Add sales column

Convert column to the correct types

In [81]:
allData['Quantity Ordered'] = pd.to_numeric(allData['Quantity Ordered'])
allData['Price Each']  = pd.to_numeric(allData['Price Each'])

In [ ]:
allData['Sales'] = allData['Quantity Ordered'] * allData['Price Each']
allData.head()

In [36]:
results =  allData.groupby('Month').sum()

In [ ]:
months = range(1,13)

plt.bar(months,results['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USD')
plt.xlabel('Month number')
plt.show()

What use City had the highest number of sales

In [ ]:
def getCity(address):
  return address.split(',')[1]

def getState(address):
  return address.split(',')[2].split(' ')[1]

allData['Cities'] = allData['Purchase Address'].apply(lambda x : getCity(x) + ' ' + getState(x) )

# allData = allData.drop(columns='Column')
allData.head()

In [ ]:
# allData['State'] = allData['Purchase Address'].apply(lambda x : x.split(',')[2])
# allData.head()

In [83]:
allData['Sales'] = allData['Quantity Ordered'] * allData['Price Each']
allData.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,Month,Cities,State,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001","917 1st St, Dallas, TX 75001",4,Dallas TX,TX 75001,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215","682 Chestnut St, Boston, MA 02215",4,Boston MA,MA 02215,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001","669 Spruce St, Los Angeles, CA 90001",4,Los Angeles CA,CA 90001,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001","669 Spruce St, Los Angeles, CA 90001",4,Los Angeles CA,CA 90001,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001","333 8th St, Los Angeles, CA 90001",4,Los Angeles CA,CA 90001,11.99

In [ ]:
results = allData.groupby('City').sum()
results

In [87]:
import matplotlib.pyplot as plt

cities = allData['City'].unique()
plt.bar(cities,results['Sales'])
plt.xticks(cities , rotation='vertical', size=8)
plt.ylabel('Sales in USD')
plt.xlabel('Cities in The USA')
plt.show()

What time should we display advertisement